<!DOCTYPE html>
<head>
    <title>Complexity Analyser</title>
</head>
<html>
    <body style="background-color: black;">
        <h1 style="color: white;">
            Most technically complex Repository:
        </h1>
        <div style="color: white;">{{ most_complex_repo }}</div>
        <h1 style="color: white;"">
            Justification
        </h1>
        <div style="color: white;">{{ justification_text }}</div>

        <h1 style="color: white;"">
            Url
        </h1>
        <div style="color: white;"><a href="{{ repo_url }}">{{ repo_url }}</a></div>
    </body>
</html>